@model IHMS.Models.SubCategory
@{
    ViewBag.Title = "SubCategory";
    Layout = "~/Areas/Pharmacy/Views/Shared/MyPharmacyMaster.cshtml";
}

<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">SubCategory</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="body">
                                <div class="row">
                                    <input type="hidden" id="hdnsubcategoryId" />
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Category *</label>
                                            <div class="form-group form-float" onchange="validdateDropDowns('#ddlct', '#msgcategory', 'Category')" id="ddlct"></div>
                                            @*<span class="text-danger" id="msgemail"></span>*@
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Sub Category *</label>
                                            <input type="text" onchange="validdate('#txtsubcat', '#msgsubcat', 'SubCategory');" id="txtsubcat" class="form-control" placeholder="Sub Category" />
                                            <span class="text-danger" id="msgsubcat"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                @*<button class="btn btn-primary" id="btnSubmit" onclick="SubmitData();">Add</button>*@
                                <input type="submit" class="btn btn-raised btn-primary waves-effect" onclick="SubmitData();" id="btnSubmit" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="header">
                <h2>SubCategory Details</h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <button type="button" class="btn btn-raised btn-primary waves-effect" data-toggle="modal" data-target="#Modal">
                        Add SubCategory
                    </button>
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                        <thead>
                            <tr>
                                <th>Sno:</th>
                                <th>Category</th>
                                <th>SubCategory</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="mytable">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




<script type="text/javascript" src="~/Scripts/jquery-3.4.1.js"></script>
<link href="~/IHMSJS/iziToast.css" rel="stylesheet" />
<script src="~/IHMSJS/iziToast.js"></script>
<script src="~/IHMSJS/PharmacyJS/SubCategory.js"></script>



