@model IHMS.Models.tblPatient
@{
    ViewBag.Title = "DoctorNisar";
    Layout = "~/Areas/Patient/Views/Shared/MyIndexMaster.cshtml";
}
<section id="page-banner" class="pt-105 pb-130 bg_cover" data-overlay="8" style="background-image: url(images/page-banner-3.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont">
                    <h2>Doctor</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index","Indexview","Patient")">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Doctor Nisar Ahmad</li>
                        </ol>
                    </nav>
                </div> <!-- page banner cont -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<section id="teachers-singel" class="pt-70 pb-120 gray-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-8">
                <div class="teachers-left mt-50">
                    <div class="hero">
                        <img src="~/IndexAssets/images/teachers/t-5.jpg" alt="Teachers">
                    </div>
                    <div class="name">
                        <h6>Nisar Ahmad</h6>
                        <span>Child Specialist</span>
                    </div>
                    <div class="description">
                        <p>a Doctor Child Specialist is a highly trained and dedicated medical professional who strives to provide exceptional healthcare services to children. Their achievements include specialized education, clinical experience, and contributions to the field of pediatrics. Their objectives revolve around promoting child health, diagnosing and treating pediatric conditions, supporting growth and development, educating parents and caregivers, and collaborating with other healthcare professionals to ensure comprehensive care for children...</p>
                    </div>
                </div> <!-- teachers left -->
            </div>
            <div class="col-lg-8">
                <div class="teachers-right mt-50">
                    <ul class="nav nav-justified" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="active" id="dashboard-tab" data-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="true">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a id="courses-tab" data-toggle="tab" href="#courses" role="tab" aria-controls="courses" aria-selected="false">Contact</a>
                        </li>
                    </ul> <!-- nav -->
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                            <div class="dashboard-cont">
                                <div class="singel-dashboard pt-40">
                                    <h5>About</h5>
                                    <p>A Doctor Child Specialist, also known as a Pediatrician, is a medical professional who specializes in providing healthcare services to infants, children, and adolescents. They are dedicated to promoting the health and well-being of young patients and ensuring their proper growth and development. Child Specialists have in-depth knowledge of pediatric medicine and are trained to diagnose, treat, and manage various medical conditions specific to children. .</p>
                                </div> <!-- singel dashboard -->
                                <div class="singel-dashboard pt-40">
                                    <h5>Acchivments</h5>
                                    <p>
                                        Graduated from medical school and completed specialized training in pediatrics.
                                        Acquired extensive clinical experience in providing care to children of all ages.
                                        Stay updated with the latest advancements and research in pediatric medicine.
                                        Developed expertise in diagnosing and treating a wide range of pediatric illnesses and conditions.
                                        Built strong relationships with young patients and their families based on trust and empathy.
                                        Contributed to the field of pediatrics through research, publications, and participation in medical conferences.
                                        Collaborated with multidisciplinary teams to provide comprehensive care for children with complex medical needs.
                                    </p>
                                </div> <!-- singel dashboard -->
                                <div class="singel-dashboard pt-40">
                                    <h5>My Objective</h5>
                                    <p>
                                        Promote Child Health: The primary objective of a Doctor Child Specialist is to promote the health and well-being of children by providing preventive care, regular check-ups, and immunizations. They focus on early detection and intervention to prevent and manage potential health issues.

                                        Diagnose and Treat: Child Specialists aim to accurately diagnose and effectively treat various pediatric illnesses and conditions. They employ their medical expertise, clinical skills, and diagnostic tools to provide appropriate medical interventions and develop treatment plans.

                                        Support Growth and Development: Child Specialists monitor the growth and development of children, ensuring that they meet age-appropriate milestones. They provide guidance on nutrition, physical activity, and healthy lifestyle habits to support optimal growth and development.
                                    </p>
                                </div> <!-- singel dashboard -->
                            </div> <!-- dashboard cont -->
                        </div>
                        <div class="tab-pane fade" id="courses" role="tabpanel" aria-labelledby="courses-tab">
                            <div class="courses-cont pt-20">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="singel-course mt-30">
                                           
                                            <div class="cont border">
                                                
                                                
                                                <a href="#"><h6>nisar@gmail.com</h6></a>
                                                <a href="#"><h6>03498264236</h6></a> <br />
                                                    <h5>For Appointment</h5><a href="@Url.Action("AddDashboard","Dashboard","Patient")"><h4>Click Me</h4></a>
                                                    <div class="course-teacher">
                                                        <div class="thum">
                                                            <a href="#"><img src="~/IndexAssets/images/teachers/t-5.jpg" alt="teacher"></a>
                                                        </div>
                                                        <div class="name">
                                                            <h6>Nisar Ahmad</h6>
                                                        </div>
                                                    </div>
</div>
                                        </div> <!-- singel course -->
                                    </div>
                                    
                                </div> <!-- row -->
                            </div> <!-- courses cont -->
                        </div>
                    </div> <!-- tab content -->
                </div> <!-- teachers right -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>
